/* src/app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: none; /* 背景色をリセット */
  font-family: Arial, Helvetica, sans-serif;
}
